@using FactureEntities.Entities
@model Article
<h1>Modifier l'article N° @Model.Id</h1>
<form asp-controller="Article" asp-action="Edit" method="post">
    <label asp-for="Nom"></label>
    <input asp-for="Nom" type="text" class="form-control"/>
    <span asp-validation-for="Nom" class="text-danger"></span><br/>
    <label asp-for="Description"></label>
    <input asp-for="Description" type="text" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span><br />
    <label asp-for="Prix"></label>
    <input asp-for="Prix" type="number" class="form-control" />
    <span asp-validation-for="Prix" class="text-danger"></span><br />
    <label asp-for="Actif"></label>
    <input asp-for="Actif" type="checkbox" />
    <span asp-validation-for="Actif" class="text-danger"></span><br />
    <input type="submit" value="Sauver" class="btn btn-sm btn-primary" />
</form>